
body{
    color:blue;
    font-family: fantasy;
    zoom: 300%;
    border-color: brown;
    background-color: plum;
 background-image: url("/Images/OIP.jfif");
 height:100%;
width:100%; 
}
